.footer {
  background-color: var(--bg-dark);
  padding: calc(var(--padding) * 2) var(--padding);
  color: var(--bg-light);

  &__logo {
    text-align: center;
    margin: 1.5rem 0 0 0;

    img {
      height: 4rem;
      margin: 0 auto;
    }
  }

  p {
    margin: 0.6rem 0;
    padding: 0;
  }

  &__timings,
  &__contact {
    font-size: 0.85rem;
    color: var(--fc-secondary);
  }

  &__head + &__head {
      margin-top: 1rem;
  }
}

@media (min-width: 700px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo img{
      height: auto;
      width: 200px;
    }
  }
}
