.home {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 0 var(--padding) 0;

  &__content {
    order: 1;
    padding: var(--padding);
  }

  &__head {
    margin-top: 1.25rem;
  }

  &__main {
    font-size: 2.65rem;
    margin: .65rem 0;
  }

  &__date {
    @extend %sm-caps;
  }
}

.mouse {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 16px);
}


