.nav {
  display: flex;
  padding: min(var(--padding), 2rem) var(--padding);

  &__menu-bar {
    display: none;
    @extend %align-center;
    justify-content: flex-end;
  }

  &__menu {
    position: relative;
    margin-left: auto;
    gap: 1.5rem;
    @extend %align-center;
  }

  &__item {
    @extend %sm-caps;
  }

  &__logo {
    height: 2rem;
    width: auto;
    @extend %align-center;

    img {
      height: 2.5rem;
      width: auto;
    }
  }
}

@media (max-width: 700px) {
  .nav {
    flex-wrap: wrap;
    position: relative;

    &__logo,
    &__menu-bar {
      flex-grow: 1;
      flex-basis: 50%;
      display: inline-flex;
    }

    &__menu {
      display: unset;
      position: absolute;
      z-index: 1;
      left: 0;
      top: calc(3rem + 1rem);
      text-align: center;
      width: 100%;
      padding: 1rem 0;
      margin: 1rem 0;
      background-color: hsl(0, 0%, 95%);
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 250ms ease-out 250ms;
    }

    &__item {
      padding: 0.5rem 1rem;
      opacity: 0;
      transition: opacity 250ms ease-in;
    }

    &__menu--active {
      transform: scaleY(1);
      transition: transform 300ms ease-in-out;

      > .nav__item {
        opacity: 1;
        transition: opacity 250ms ease-out 300ms;
      }
    }
  //   &__logo {
  //   img {
  //     height: 3.5rem;
  //     width: auto;
  //   }
  // }
  }
}
